@import "tailwindcss";

.title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
.userProfileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: rgb(226, 233, 233);
  border: 2px solid rgb(231, 224, 224);
  border-radius: 8px;
  width: 400px;
  height: 300px;
  margin-bottom: 3rem;
}
.userTitle {
  font-size: 23px;
  font-weight: bold;
}
.userProfileCard p {
  color: gray;
}
.productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}
.productPrice {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  margin-top: 15px;
}
.productDesc {
  color: grey;
  margin-top: 10px;
}
.productStock {
  color: green;
  font-size: 20px;
  margin-top: 15px;
}
